images/items/.DS_Store
.DS_Store
.swiftpm/xcode/xcuserdata/otufekci.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcworkspacedata
*.xcuserstate

.swiftpm/xcode/xcuserdata/kafein.xcuserdatad/xcschemes/xcschememanagement.plist
